.container
    .jumbotron
        h1 MultiVision
        p This is some nice text!

    .row
        .col-md-6
            div(ng-include="'/partials/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/new-courses'")